.popup__validate-message_position_submit {
  bottom: 108px;
  left: 50%;
  transform: translate(-50%);
  min-width: 180px;
}

@media (max-width: 700px) {
  .popup__validate-message_position_submit {
    bottom: 102px;
  }
}
