@import url(./_padding/news__grid-container_padding_top.css);

.news__grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding-bottom: 62px;
}

@media (max-width: 1024px) {
  .news__grid-container {
    gap: 12px;
  }
}

@media (max-width: 768px) {
  .news__grid-container {
    gap: 8px;
    padding-bottom: 22px;
  }
}

@media (max-width: 700px) {
  .news__grid-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
}
@media (max-width: 500px) {
  .news__grid-container {
    grid-template-columns: 1fr;
    gap: 10px;
    padding-bottom: 16px;
  }
}
