@import url(./__image/card__image.css);
@import url(./__icon/card__icon.css);
@import url(./__date/card__date.css);
@import url(./__title/card__title.css);
@import url(./__text/card__text.css);
@import url(./__source/card__source.css);
@import url(./__container/card__container.css);

.card {
  position: relative;
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
  min-height: 576px;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 0 20px rgba(18, 20, 45, 0.3);
}

@media (max-width: 1024px) {
  .card {
    min-height: 470px;
  }
}

@media (max-width: 768px) {
  .card {
    min-height: 420px;
  }
}

@media (max-width: 500px) {
  .card {
    max-width: 350px;
    margin: 0 auto;
    min-height: 446px;
  }
}
