@import url(./__input/search-form__input.css);
@import url(./__button/search-form__button.css);

.search-form {
  position: relative;
  max-width: 608px;
  min-height: 64px;
}

@media (max-width: 768px) {
  .search-form {
    min-height: 56px;
  }
}
